* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
   }

   body {
    background: #afaeae;
  }

  hr {
    display: block;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
  }

    img {
    max-width: 100%;
    max-height: 300px;
    display: block;
    margin-bottom: 5px;
    margin-left: 20px;
    margin-right: auto;
    border: 2px solid rgb(66, 65, 65);
    line-height: 10px;
   }

   .img-username {
    color: #0f0d0e;
   }

   .header-title {
    padding: 5px;
    width: 100%;
    color: #fff;
    background-color: #50035f;
    text-align: left;
   }

   #like-button {
    width: 50px;
    height: 50px;
    background-image: url(/static/img/like.png);
    background-repeat: no-repeat;
    background-size: contain;
    margin-left: 20px;
   }

   .mainbtn {
    background-color: #50035f;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
  }
