<table>
    {{range $complaint := .complaints}}
        <tr>
            <td>Image ID: <a href="/image?id={{$complaint.ImageID}}">{{$complaint.ImageID}}</a></td>
            <td>Requester Username: <a href="/user?u={{$complaint.RequesterUsername}}">{{$complaint.RequesterUsername}}</a></td>
            <td>Comment text: {{$complaint.Text}}</td>
            <td><form action="" method="POST">
                <input type="hidden" name="comment_id" value="{{$complaint.CommentID}}">
                <input type="submit" name="action" value="delete">
                <input type="submit" name="action" value="deny">
                {{ $.csrfField }}
            </form></td>
        </tr>
    {{end}}
</table>
