<script src="https://code.jquery.com/jquery-3.6.0.slim.min.js" integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI=" crossorigin="anonymous"></script>
<script src="/static/js/like.js"></script>
{{range $val := .}}
    <div id="image_{{$val.ImageID}}">
        <a href="/image?id={{$val.ImageID}}">
            <img src="data:image/jpeg;base64,{{$val.Image}}">
        </a>
        <p>Likes: {{$val.LikesAmount}}</p>
        <i></i>
        <button onclick="likeImage(this)" id="like-button"></button>
        <hr>
    </div>
{{end}}
