Hello {{.user.username}}!<br>
Your description: {{.user.description}}<br>
{{if .user.avatar.isPresent}}
	Your avatar:<br>
	<img src="data:image/jpeg;base64,{{.user.avatar.data}}"><br>
{{end}}

<form action="" method="post">
	<label for="description">Change your description</label><br>
	<input type="text" id="description" name="description"><br>
	{{.csrfField}}
	<input type="submit">
</form>