<table>
    {{range $complaint := .complaints}}
        <tr>
            <td>Image ID: <a href="/image?id={{$complaint.ImageID}}">{{$complaint.ImageID}}</a></td>
            <td><form action="" method="POST">
                <input type="hidden" name="complaint_id" value="{{$complaint.ComplaintID}}">
                <input type="submit" name="action" value="Confirm">
                <input type="submit" name="action" value="Deny">
                {{ $.csrfField }}
            </form></td>
        </tr>
    {{end}}
</table>
