	<img src="data:image/jpeg;base64,{{.image.data}}"/>
	<ul>
		<li> Publication time: {{.image.publicationTime}}</li>
		<li> Unique token: {{.image.id}} </li>
		<li> List of Owners:
		<ul>
			{{range $owner := .image.owners}}
				<li> {{$owner.username}} {{$owner.ownershipTimestamp}} </li>
			{{end}}
		</ul></li>
		<li> Likes:<ul>
			{{range $like := .image.likes}}
				<li> {{$like}} </li>
			{{end}}
		</ul></li>
		{{if .image.isShownToOwner}}
			<form action="/change_privacy" method="POST">
			{{.csrfField}}
			<button name="image_id" value="{{.image.id}}">
				{{if .image.isPrivate}}
					Make image public
				{{else}}
					Make image private
				{{end}}
				</button>
			</form>
		{{else}}
			<form action="/complain_image" method="POST">
				{{.csrfField}}
				<input type="hidden" name="image_id" value="{{.image.id}}">
				<input type="submit" value="Пожаловаться">
			</form>
		{{end}}
		{{if and .image.isShownToOwner (not .image.isPrivate)}}
			<form action="/set_avatar" method="POST">
				{{.csrfField}}
				<button name="image_id" value="{{.image.id}}">Set image as avatar</button>
			</form>
		{{end}}
		<br>
		<div id='comments'>Comments:
			<form action="/send_comment" method="post">
				{{.csrfField}}
				<input type="hidden" name="image_id" value="{{.image.id}}">
				<textarea name="comments" id="comments"></textarea>
				<input type="submit" value="Send">
			</form>
			<br>
			{{range $index, $comment := .image.comments}}
				<div id='comment_id={{$comment.globalID}}'>
					<span itemprop='name'>{{$comment.author}}</span>
					<time itemprop='name'>{{$comment.publishTime.Format "2006-01-02 15:04:05"}}</time>
					<div itemprop='body'>
					   <p>{{$comment.sanitizedText}}</p>
					</div>
					<form action="/complain_comment" method="POST">
						{{$.csrfField}}
						<button name="global_comment_id" value="{{$comment.globalID}}">Complain</button>
					</form>
				</div>
				<br>
			{{end}}
		</div>
	</ul>