<table>
{{range $request := .requests}}
    <tr>
        <td>Image ID: <a href="/image?id={{$request.ImageID}}">{{$request.ImageID}}</a></td>
        <td>User: <a href="/user?u={{$request.Username}}">{{$request.Username}}</a></td>
        <td><form action="" method="post">
            <input type="hidden" name="imageID" value="{{$request.ImageID}}">
            <input type="hidden" name="username" value="{{$request.Username}}">
            <input type="submit" name="action" value="approve">
            <input type="submit" name="action" value="deny">
            {{ $.csrfField }}
        </form></td>
    </tr>
{{end}}
</table>
