<table>
{{range $request := .requests}}
    <tr>
        <td>Image : <a href="/image?id={{$request.ImageID}}"><img src="data:image/jpeg;base64,{{$request.ImageData}}"></a></td>
        <td>Sender: <a href="/user?u={{$request.SenderUsername}}">{{$request.SenderUsername}}</a></td>
        <td><form action="" method="post">
            <input type="hidden" name="imageID" value="{{$request.ImageID}}">
            <input type="hidden" name="sender" value="{{$request.SenderUsername}}">
            <input type="submit" name="action" value="approve">
            <input type="submit" name="action" value="deny">
            {{ $.csrfField }}
        </form></td>
    </tr>
{{end}}
</table>
