User: {{.user.username}}<br>
Description: {{.user.description}}<br>
{{if .user.avatar.isPresent}}
	Avatar:<br>
	<img src="data:image/jpeg;base64,{{.user.avatar.data}}"><br>
{{end}}
{{if .viewer.isModerator}}
	<br>
	<form action="/change_pub_rights?u={{.user.username}}" method="post">
		{{.csrfField}}
		<input type="submit" name="submit_button" value="Change publication rights">
	</form>
{{end}}